@import "varaiable";
.header{
    background-color: color(white);
    position: fixed;
    width: 100%;
    height: 8rem;
    top: 0px;
    z-index: 100;
    
    .logo-text{
        font-size: size(xxl);
        font-weight: 700;
        white-space: nowrap;

        span:nth-child(2){
            color: color(green);
        }
    }

    .sign-in-nav{
        display: grid;
        justify-content: center;
        align-items: center;
        justify-self: right;
        height: 4rem;
        width: 70%;
        border-radius: 3rem;
        display: grid;
        align-items: center;
        justify-content: center;

        .sign-in-link{
            text-decoration: none;
            font-weight: 400;
            font-size: size(sm);
            color: color(black);
            white-space: nowrap;
        }
    }


    .column-menu-icon{
        cursor: pointer;
        span{
            display: block;
            height: .2rem;
            width: 2rem;
            background-color: black;
            margin: .5rem;
            transform-origin: left;
            transition: all .25s ease-in-out .1s;
        }
    }

    .column-menu{
        position: absolute;
        top: 8rem;
        left: calc(-20rem - 10vw);
        display: flex;
        flex-direction: column;
        background-color: color(white);
        height: 100vh;
        width: calc(20rem + 5vw);
        z-index: 10;
        transition: all .5s ease-in-out;
        z-index: 10;



        .sign-in-button{
            margin: 2rem;
            height: 4rem;
            background-color: color(black);
            border: none;
            color: color(white);
            font-size: size(sm);
        }

        .nav-link-list{
            margin: 2rem;
            margin-top: calc(2rem + 20vh);
            list-style: none;
            font-size: size(xs);

            .nav-link{
                margin-top: 1.5rem;
                cursor: pointer;
            }
        }

        .menu-intro{
            margin: 2rem;
            display: flex;
            align-items: center;

            .uber-eats-img{
                height: 5rem;
                width: 5rem;
                border: .2rem solid color(black);
            }

            p{
                margin-left: 2rem;
                font-size: size(xs);
            }
        }

        .download-button-wrapper{
            margin: 2rem;
            height: 3rem;
            width: 100%;


            .download-button{
                border-radius: 2rem;
                height: 4rem;
                width: 10rem;
                border: none;
                margin-right: .5rem;
                outline: none;


                .download-img{
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }
    }

    .column-menu-checkbox:checked ~ .column-menu{
        left: 0%;
    }

    .column-menu-checkbox:checked ~ .column-menu-icon span:nth-child(1){
        transform: rotateZ(45deg);
    }
    .column-menu-checkbox:checked ~ .column-menu-icon span:nth-child(2){
        opacity: 0;
    }
    .column-menu-checkbox:checked ~ .column-menu-icon span:nth-child(3){
        transform: rotateZ(-45deg);
    }

}
